<link rel="stylesheet" href="<%= assetPath('css/user_profile.css')%>">

<!-- <img src="<%= user.avatar%>" alt="<%= user.name%>" width="100"> -->
<% if(profile_user.avatar) { %>
  <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">
<% } %>
<!-- <p>  Name: <%= profile_user.name%></p>
<p>  Email: <%= profile_user.email%></p> -->

<% if(user.id == profile_user.id){%>
          <!-- if user matches then show the form -->
          <h4>Update </h4>
          <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">

          <input type="text" name="name" id="" placeholder="Your Name" value="<%= profile_user.name%>" required>
          <br>
          <input type="email" name="email" id="" placeholder="Your Email" value="<%= profile_user.email%>" required>
          <br>
          <input type="file" name="avatar" id="" placeholder="Profile Picture">
            <input type="submit" value="update">
          </form>
<%}else{%>
      <!-- else show only the profile info -->
      <p><%= profile_user.name %></p>
      <p><%= profile_user.email %></p>
      <br>
<%if(!locals.are_friends){%>
    
    <a type="button" href="/friends/profile/<%=profile_user._id%>/toggle_friend" id="add-friend">Add Friend</a>
<%}else{%>
    <a type="button" href="/friends/profile/<%=profile_user._id%>/toggle_friend" id="remove-friend" >Remove Friend</a>
<%}%>

    <%}%>